table.#{$classBase}__table {
  margin: 0;
  width: 100%;

  tr,
  td {
    background-color: transparent;
    border: 0;
  }

  td {
    padding: 0;
    word-break: normal;
    vertical-align: middle;

    label {
      /*
       * Elements this applies to also have a helper class applying "float: right" so it will still look alright-ish on
       * IE9, just not as nice as with flexbox.
       */
      display: flex;
      justify-content: space-between;
      text-align: left;

      & > * {
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    &.#{$classBase} {
      &__input {
        vertical-align: top;
        width: 1px;
        padding-right: 6px;
      }
    }
  }
}
