name: 'Build'

on:
  workflow_call:

env:
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6

      - uses: myparcelnl/actions/yarn-install@v5
        with:
          node-version: 24

      - uses: ./.github/actions/build
